# Dependencies
node_modules

# Build files
dist

# Environment variables
.env

# Archive files
archive

# Seeders & Json
src/db/seeds/create_cars.ts
cars.json

# IDE/Editor files
.vscode
*.code-workspace


